/*----------------------------------------*/
/*  01. Template default CSS
/*----------------------------------------*/
@mixin placeholder {
	&::-webkit-input-placeholder {
		@content;
	}

	&:-moz-placeholder {
		@content;
	}

	&::-moz-placeholder {
		@content;
	}

	&:-ms-input-placeholder {
		@content;
	}
}

/* Common Style */
*, *::after, *::before {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-family: $font-family-base, Arial, Helvetica, sans-serif;
	font-size: $font-size-base;
	font-weight: 300;
	font-style: normal;
	line-height: $line-height-base;

	position: relative;

	visibility: visible;
	overflow-x: hidden;

	color: $body-color;
	background-color: $white;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;

	margin-top: 0;

	color: $headings-color;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
	line-height: inherit;

	margin: 0;
}

p:last-child {
	margin-bottom: 0;
}

a, button {
	line-height: inherit;

	display: inline-block;

	cursor: pointer;
	text-decoration: none;

	color: inherit;
}

a, button, img, input {
	transition: $transition-base;
}

*:focus {
	outline: none;
}

a:focus {
	text-decoration: none;

	color: inherit;
	outline: none;
}

a:hover {
	text-decoration: none;

	color: $primary;
}

button, input[type="submit"] {
	cursor: pointer;
}

img {
	max-width: 100%;
}

input, textarea {
	@include placeholder {
		opacity: 1;
	}
}

ul {
	&:last-child {
		margin-bottom: 0;
	}
}

hr {
	border-top-width: 2px;
}
