<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Learts – Handmade Shop eCommerce HTML Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="@@webRoot/assets/images/favicon.webp">

    <!-- CSS (Font, Vendor, Icon, Plugins & Style CSS files) -->

    <!-- Font CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet"> 

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <link rel="stylesheet" href="a@@webRoot/ssets/css/vendor/bootstrap.min.css">

    <!-- Plugins CSS (All Plugins Files) -->
    @@for (var i = 0; i < plugins.length; i++) {<link rel="stylesheet" href="assets/css/plugins/`+plugins[i]+`.css">}

    <!-- Style CSS -->
    <link rel="stylesheet" href="@@webRoot/assets/css/pages/@@page.css">

</head>