<!-- JS Vendor, Plugins & Activation Script Files -->

<!-- Vendors JS -->
<script src="@@webRoot/assets/js/vendor/modernizr-3.11.7.min.js"></script>
<script src="@@webRoot/assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="@@webRoot/assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
<script src="@@webRoot/assets/js/vendor/bootstrap.bundle.min.js"></script>

<!-- Plugins JS -->
@@for (var i = 0; i < plugins.length; i++) {<script src="@@webRoot/assets/js/plugins/`+plugins[i]+`.js"></script>}

<!-- Activation JS -->
<script src="@@webRoot/assets/js/@@page.js"></script>